.faq-section {
    margin-top: 100px;
    margin-left: 20px;
  }
  
  .faq-section h3 {
    font-size: 24px;
    color: #333;
  }
  
  .faq-section div {
    margin-top: 15px;
  }
  
  .faq-section h4 {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .faq-section p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
  }