.landing {
  background-color: #fdfeff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing .overlap-group-wrapper {
  background-color: var(--white);
  height: 1024px;
  width: 1440px;
}

.landing .overlap-group {
  height: 1024px;
  position: relative;
}

.landing .vector {
  height: 1024px;
  left: 616px;
  position: absolute;
  top: 0;
  width: 824px;
}

.landing .navbar {
  background-color: #ffffff;
  height: 69px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.landing .div {
  align-items: center;
  display: inline-flex;
  gap: 30px;
  justify-content: center;
  left: 761px;
  position: absolute;
  top: 16px;
}

.landing .text-wrapper {
  color: var(--blue);
  font-family: "Black Mango-Black", Helvetica;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.72px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
  text-decoration: none;
}

.landing .text-wrapper-2 {
  color: var(--blue);
  font-family: "Black Mango-Black", Helvetica;
  font-size: 32px;
  font-weight: 900;
  left: 50px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
}

.landing .line {
  height: 2px;
  left: 759px;
  position: absolute;
  top: 52px;
  width: 84px;
}
